# Node and package manager
node_modules
.pnpm
dist
build
coverage

# OS and editor
.DS_Store
Thumbs.db
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# Misc
.env
.env.*